.part1{
    display: flex;
}
.book-title{
    margin-top: 10%;
    margin-left: 10px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auther-name{
    margin-top: 2px;
    margin-left: 10px;
    color: gray;
    font-size: small;
    font-style: italic;
}
.book-price{
    margin-left: 10px;
    padding: 7px 0px 5px 0px;
    font-size: large;
    font-weight: bold;
}
.book-pic{
    height: 70%;
}
.minus{
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    
}
.part2{
    display: flex;
    flex-direction: row;
}
.number{
    margin-left: 5px;
    margin-top: 20px;
    width: 5%;
}
.plus{
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.remove-text{
    margin-top: 20px;
    margin-left: 5%;
    cursor: pointer;
}
.select-address{
    margin-left: 70%;
    width: 15%;
    background-color: #2874f0;
    color: white;

}
.cust-detail{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 1cm;
}
.text-input{
    width: 40%;
    height: 30px;
    margin-left: 1cm;
}
.address-input{
    width:84%;
    height: 2cm;
    margin-left: 1cm;

}
.type{
    margin-left: 1cm;
}
.mat-radio-button{
    padding: 5px;
}
.next-btn{
    width: 15%;
    margin-left: 3.5%;
    background-color: #2874f0;
    color: white;
}
.back-btn{
    width: 5%;
    margin-left: 64%;
    background-color: #2874f0;
    color: white;
}
.book-summary{
    width: 50%;
}
.payment{
    display:flex ;
    flex-direction: row;
}
.checkout-btn{
    width: 15%;
    margin-left: 3.5%;
    background-color: #2874f0;
    color: white;
}
.book-title-summary{
    margin-top: 10%;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auther-name-summary{
    margin-top: 2px;
    color: gray;
    font-size: small;
    font-style: italic;
}
.book-price-summary{
    padding: 7px 0px 5px 0px;
    font-size: large;
    font-weight: bold;
}