<div class="container">
    <div class="main-content">
        <div class="login">
            <label class="loginName">Register</label>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <label>FIRST NAME :   </label>
                  <mat-label>First Name</mat-label>
                  <input matInput  >
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <label>LAST NAME :   </label>
                  <mat-label>Last Name</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <label>E-MAIL :   </label>
                    <mat-label>Email</mat-label>
                    <input matInput>
                  </mat-form-field>
                
                  <mat-form-field class="date">
                    <label>DOB :   </label>
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput type="date">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                  <label>PASSWORD :   </label>
                    <mat-label>Password</mat-label>
                    <input matInput>
                </mat-form-field>
                
                <button class="submit" routerLink="/login" mat-raised-button type="submit">Create Account</button>
              </form>
        </div>
    </div>
</div>
