<header class="header-content">
    <div class="book">
      <img class="book-logo" (click)="onBookStoreClick()" src="../../../assets/education.svg" alt="booklogo">
      <div class="header-name" (click)="onBookStoreClick()">BookStore</div>
      <div>
        <input class="search"  type="text" name="search" placeholder="Search">
      </div>
      <div><img class="search-logo" src="../../../assets/search.png" alt="search logo"></div>
      <div class="cart-name" (click)="onCartClick()">Cart</div>
      <div><img class="cart-logo" src="../../../assets/supermarket.svg" (click)="onCartClick()" alt="cart logo"></div>
    </div>
</header>
