.header-content{
    background-color: #A03037;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.book-logo{
    width: 1.3cm;
    padding: 2px 0px 2px 2px;
    margin-left: 10%;
    cursor: pointer;

}
.header-name{
    padding: 2px;
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;

}
.book{
    display: flex;
}
.search{
    width: 400%;
    margin-left: 20%;
    padding: 2px;
    margin-top: 10px;
}
.search-logo{
    margin-left: 130%;
    width: 5%;
    margin-top: 15px;
    cursor: pointer;
}
.cart-name{
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}
.cart-logo{
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-right: 10%;
    cursor: pointer;
}