<header class="header-content">
  <div class="book">
    <img class="book-logo" (click)="goHome()" src="../../../assets/education.svg" alt="booklogo">
    <div class="header-name" (click)="goHome()">BookStore</div>
    <div>
      <input class="search"  type="text" name="search" placeholder="Search">
    </div>
    <div><img class="search-logo" src="https://img.icons8.com/emoji/2x/magnifying-glass-tilted-left-emoji.png" alt="search logo"></div>
    <div class="cart-name" (click)="goCart()">Cart</div>
    <div><img class="cart-logo" src="../../../assets/supermarket.svg" (click)="goCart()" alt="cart logo"></div>
  </div>
</header>
