<div class="placed-content">
    <img class="success-logo"  src="https://static.vecteezy.com/system/resources/thumbnails/005/265/170/small/colorful-confetti-and-ribbon-falling-simple-confetti-and-ribbon-falling-isolated-on-white-background-festival-elements-anniversary-and-birthday-celebration-element-vector.jpg" alt="Order successful">
    <div class="thanku">
        Order Placed Successfully
    </div>
    <img class="order-placed" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLQRyatH5yQgu4KfYVqL3NUcftbzjlcbJiJA&usqp=CAU" alt="Order placed">
    <div class="order-text"><p>Hurray!!! <br>Your order is comfirmed.<br> Order ID : #123456 <br></p></div>
    <div>
        <button mat-raised-button class="continue-btn"  (click)="(goOrder())">Continue Shopping</button>

    </div>
</div>