<div class="home-content">
    <div class="book-text head">Books
        <span class="item-text">(items)</span>
        <select class="sort-content" name="sortbook" id="sortbook">
            <option value="sort by Price">Sort by relevance</option>
            <option value="sort by Price">Price : Low to High</option>
            <option value="sort by name asc">Price : High to Low</option>
            <option value="sort by name des">New Arrivals</option>
        </select>
    </div>
    <mat-card>
    <mat-card-content class="book2 book"><img src="../../../assets/book.png" alt="book2">
            <div class="book-content">
                <div class="book-title">Hell of A Book</div>
                <div class="author-name">By Steve Krug</div>
                <div class="book-price">Rs.1000</div>
                <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">Add to Cart</button>
                <button class="wishlist" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content>
        <mat-card-content class="book3 book"><img src="../../../assets/book.png" alt="book3">
            <div class="book-content">
                <div class="book-title">Hell of A Book</div>
                <div class="author-name">By Steve Krug</div>
                <div class="book-price">Rs.1000</div>
                <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">Add to Cart</button>
                <button class="wishlist" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content>
        <mat-card-content class="book4 book"><img src="../../../assets/book.png" alt="book4">
            <div class="book-content">
                <div class="book-title">Hell of A Book</div>
                <div class="author-name">By Steve Krug</div>
                <div class="book-price">Rs.1000</div>
                <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">Add to Cart</button>
                <button class="wishlist" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content>
        <!-- <mat-card-content class="book5 book"><img src="../../../assets/book.png" alt="book5">
            <div class="book-content">
                <div class="book-title">Hell of A Book</div>
                <div class="author-name">By Steve Krug</div>
                <div class="book-price">Rs.1000</div>
                <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">Add to Cart</button>
                <button class="wishlist" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content>
        <mat-card-content class="book6 book"><img src="../../../assets/book.png" alt="book6">
            <div class="book-content">
                <div class="book-title">Hell of A Book</div>
                <div class="author-name">By Steve Krug</div>
                <div class="book-price">Rs.1000</div>
                <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">Add to Cart</button>
                <button class="wishlist" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content>
        <mat-card-content class="book7 book"><img src="../../../assets/book.png" alt="book7">
            <div class="book-content">
                <div class="book-title">Hell of A Book</div>
                <div class="author-name">By Steve Krug</div>
                <div class="book-price">Rs.1000</div>
                <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">Add to Cart</button>
                <button class="wishlist" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content> -->
    </mat-card>
</div>