<<div class="home-content">
    <div class="book-text head">Books
        <span class="item-text">(6 items)</span>
        <select class="sort-content" name="sortbook" id="sortbook">
          <option value="sort by name des">New Arrivals</option>
            <option value="sort by Price">Sort by relevance</option>
            <option value="sort by Price">Price : Low to High</option>
            <option value="sort by name asc">Price : High to Low</option>
        </select>
    </div>
    <mat-card>
          <mat-card-content class="book2 book">
              <img src="https://1.bp.blogspot.com/-tJ2k-lbWWbY/Wc1XeajGgoI/AAAAAAAAg_w/_M3IGrnbgYYeWb-CC7bXLctBEKuX-q_4ACLcBGAs/s1600/FrontDeskUPdateed.jpg" alt="book2">
              <div class="book-content">
                  <div class="book-title">FRONT DESK</div>
                  <div class="auther-name">By Steve Krug</div>
                  <div class="book-price">Rs.350</div>
                  <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">{{add}}</button>
                  <button class="wishlist" mat-stroked-button>WishList</button>
              </div>
          </mat-card-content>
          <mat-card-content class="book3 book">
              <img src="https://1.bp.blogspot.com/-tJ2k-lbWWbY/Wc1XeajGgoI/AAAAAAAAg_w/_M3IGrnbgYYeWb-CC7bXLctBEKuX-q_4ACLcBGAs/s1600/FrontDeskUPdateed.jpg" alt="book3">
              <div class="book-content">
                  <div class="book-title">FRONT DESK</div>
                  <div class="auther-name">By Steve Krug</div>
                  <div class="book-price">Rs.350</div>
                  <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">{{add}}</button>
                  <button class="wishlist" mat-stroked-button>WishList</button>
              </div>
          </mat-card-content>
          <mat-card-content class="book4 book"><img src="https://1.bp.blogspot.com/-tJ2k-lbWWbY/Wc1XeajGgoI/AAAAAAAAg_w/_M3IGrnbgYYeWb-CC7bXLctBEKuX-q_4ACLcBGAs/s1600/FrontDeskUPdateed.jpg" alt="book4">
              <div class="book-content">
                  <div class="book-title">FRONT DESK</div>
                  <div class="auther-name">By Steve Krug</div>
                  <div class="book-price">Rs.350</div>
                  <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">{{add}}</button>
                  <button class="wishlist" mat-stroked-button>WishList</button>
              </div>
          </mat-card-content>
          <mat-card-content class="book5 book"><img src="https://1.bp.blogspot.com/-tJ2k-lbWWbY/Wc1XeajGgoI/AAAAAAAAg_w/_M3IGrnbgYYeWb-CC7bXLctBEKuX-q_4ACLcBGAs/s1600/FrontDeskUPdateed.jpg" alt="book5">
              <div class="book-content">
                  <div class="book-title">FRONT DESK</div>
                  <div class="auther-name">By Steve Krug</div>
                  <div class="book-price">Rs.350</div>
                  <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">{{add}}</button>
                  <button class="wishlist" mat-stroked-button>WishList</button>
              </div>
          </mat-card-content>
          <mat-card-content class="book6 book"><img src="https://1.bp.blogspot.com/-tJ2k-lbWWbY/Wc1XeajGgoI/AAAAAAAAg_w/_M3IGrnbgYYeWb-CC7bXLctBEKuX-q_4ACLcBGAs/s1600/FrontDeskUPdateed.jpg" alt="book6">
              <div class="book-content">
                  <div class="book-title">FRONT DESK</div>
                  <div class="auther-name">By Steve Krug</div>
                  <div class="book-price">Rs.350</div>
                  <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">{{add}}</button>
                  <button class="wishlist" mat-stroked-button>WishList</button>
              </div>
          </mat-card-content>
          <mat-card-content class="book7 book"><img src="https://1.bp.blogspot.com/-tJ2k-lbWWbY/Wc1XeajGgoI/AAAAAAAAg_w/_M3IGrnbgYYeWb-CC7bXLctBEKuX-q_4ACLcBGAs/s1600/FrontDeskUPdateed.jpg" alt="book7">
              <div class="book-content">
                  <div class="book-title">FRONT DESK</div>
                  <div class="auther-name">By Steve Krug</div>
                  <div class="book-price">Rs.350</div>
                  <button class="add-to-cart" mat-stroked-button (click)="onClickAdd()">{{add}}</button>
                  <button class="wishlist" mat-stroked-button>WishList</button>
              </div>
          </mat-card-content>
  
        </mat-card>
      </div>